<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Eventialise!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/bootstrap-social.css">
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <nav class="navbar  navbar-dark bg-dark">

      <a href="#" class="navbar-brand"><img src="logo.png" alt="" class="navbar-logo" /> Eventialise</a>
        <form action="/eventadd" method="get">
          <button class="btn btn-md">Event Management</button>
        </form>
        <form action="/" method="get">
          <button class="btn btn-md nav-btn">Homepage</button>
        </form>
    </nav>
